.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  padding: auto;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  padding: auto;
  padding-inline-start: 40px;
}

.padding1px {
  padding: auto;
}

.lightText {
  color: #666;
}

.list {
  list-style: none;
  padding: auto;
  margin: auto;
}

.listItem {
  margin: 0 0 1.25rem;
}

.bolded {
  font-weight: bold;
}
