.container {
  max-width: 36rem;
  padding: auto;
  margin: 1rem auto auto;
}

.colouredBackGround {
  background-color: #2F558D;
}

.whiteBackGround {
  background-color: white;
  max-width: 36rem;
  margin: 2rem auto 6rem;
}